.footer
    table(width='100%')
        tbody
            tr
                td.aligncenter.content-block
                    ul.footer-list
                        li
                            a(href=`https://sociallink.one/`) About
            tr
                td.aligncenter.content-block
                    | Copyright &copy; 2023, Social Link<br/>
            tr
                td.aligncenter
                    p.
                        Use of Social Link products is governed by our #[a(href=`https://sociallink.one/terms.html`) Terms of Use] and #[a(href=`https://sociallink.one/privacy.html`) Privacy Policy]
