.footer
    table(width='100%')
        tbody
            tr
                td.aligncenter
                    | Powered by:
            tr
                td.aligncenter.content-block
                    a(href=`https://sociallink.one`)
                        img(src=`https://storage.googleapis.com/insta-pilot-beta.appspot.com/630b78196338e84e41f524d4/logo-blue-full_1.png` alt='logo' style='width:160px; height:50px;')
            tr
                td.aligncenter.content-block
                    | Copyright &copy; 2023, Social Link<br/>
            //- tr
            //-     td.aligncenter
            //-         p.
            //-             Use of Social Link products is governed by our #[a(href=`https://sociallink.one/terms.html`) Terms of Use] and #[a(href=`https://sociallink.one/privacy.html`) Privacy Policy]
