.footer
    table(width='100%')
        tbody
            tr
                td.aligncenter.content-block
                    ul.footer-list
                        li
                            a(href="https://getanthem.co/about-us/") About
                        li
                            a(href="https://getanthem.co/contact-us/") Support
                        li
                            a(href=`${WEB_URL}/notifications`) Unsubscribe
            tr
                td.aligncenter.content-block
                    | Copyright &copy; 2021, Anthem<br/>
                    | 77, Pasumpon Muthuramalinga Thevar Rd, RA Puram, Austin Nagar, Alwarpet, Chennai, Tamil Nadu 600028.
            tr
                td.aligncenter
                    p.
                        Use of Anthem products is governed by our #[a(href="https://getanthem.co/terms-and-conditions/") Terms of Use] and #[a(href="https://getanthem.co/privacypolicy/") Privacy Policy]
