table(width='100%')
  tbody
    tr
      td.aligncenter.content-top
        img(src=`${iLogo || 'https://storage.googleapis.com/insta-pilot-beta.appspot.com/630b78196338e84e41f524d4/logo-blue-full_1.png'}` alt='logo' style=`width:${iLogo ? '200px' : '220px'}; height:${iLogo ? 'auto' : '65px'};`)
